html {
    background-color: pink;
}

header {
    background-color: coral;
    padding: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    align-items: flex-end;
}

section#budget-section {
    justify-content: flex-end;
}

section #input-section form {
    align-items: flex-start;
}

h1 {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif; 
}

h2 {
    font-size: 20px;
}

#input-section h2, 
#input-section p, 
#input-section form {
    align-self: flex-end;
    margin-top: 1em;
}

button, table, form, input {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', 'monaco', 'Bitstream Vera Sans Mono', monospace;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    align-items: flex-start;
}

input {
    background-color: rgba(255, 162, 0, 0.854);
    padding: 1em;
}

.delete-cell {
    text-align: center;
}

#button-field {
    flex-grow: 6;
}

button {
    border: none;
    font-family: inherit;
    padding: 0.25em 0.75em;
    text-align: center;
    line-height: 1.1;
}

.submit-button {
    background-color: rgba(197, 229, 241, 0.68);
    padding: 0.5em 2em;
    align-self: center;
    border-radius: 0.8em;
}

.delete-button {
    font-size: 40px;
    border-radius: 0.2em;
}

.submit-button:hover, .submit-button:focus {
    background-color: rgba(0, 94, 255, 0.68);
    box-shadow: 0 0 0 2px;
}

.delete-button:hover, .delete-button:focus {
    background-color: orange;
    box-shadow: 0 0 0 2px;
}
    
section:nth-of-type(2){
    align-items: center;
    justify-content: space-around; /* controls where the flex items sit on main axis */
}

table {
    border-collapse: collapse;
    max-width: 800px;
}

td, th {
    border: 2px solid rgba(154, 0, 0, 0.704);
    padding: 0.8rem;
    text-align: start;
    background-color: rgb(142, 229, 102);
}

th {
    font-weight: bolder;
    background-color: green;
}

footer {
    text-align: right;
    font-size: 12px;
}
